<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <!--<router-outlet></router-outlet>-->

    <div class="col" style="font-size:15px">

      <ul id="maquinas">
        <li *ngFor="let reg of retornoRegistros">
          {{reg.Nome_Maquina}}
          IP: {{reg.IP}} <br />
          Versão do Windows:
          <ul>
            <li>
              {{reg.Versao_Windows}}
            </li>
          </ul>
          Versão do .Net: {{reg.Versao_DotNet}} <br />
          Antivírus: {{reg.AntiVirus}} <br />
          Firewall: <br />
          <ul>
            <li *ngFor="let item of reg.Firewall">
              {{ item }}
            </li>
          </ul>

          Discos:
          <ul>
            <li *ngFor="let disco of reg.Discos">
              <ul>
                Nome Disco: {{disco.Nome_Disco}}
                <li>Memoria Disponivel: {{disco.Memoria_Disponivel}}</li>
                <li>Memoria Total: {{disco.Memoria_Total}}</li>
                <li>Memoria Utilizada: {{disco.Memoria_Utilizada}}</li>
              </ul>
            </li>
          </ul>

        </li>

      </ul>
    </div>

    <form>
      <div class="form-group col col-lg-5">
        <input type=text class="form-control" #textoComando id="textInput" placeholder="Digite algum comando" />

        <button id="sendButton" class="btn btn-primary" (click)="enviarComando(textoComando.value);">Enviar</button>
      </div>
    </form>

    <div class="row">
      <div class="col">

        <ul id="mensagens">
          <li *ngFor="let msg of retornoTexto">
            {{msg}}
          </li>
        </ul>
      </div>


    </div>

  </div>
</body>
